@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&family=Poppins:wght@200;400;500&family=Roboto:wght@100;400&display=swap');
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-image: url(../assets/img/ekohtech_background.png);
    background-size: cover;

}

/* Unloads mobile disclaimer */

    section.disclaimer-banner {
        display: none;
    }

/* End mobile disclaimer stuff here. appearance and style of it is changed in disclaimer_ekohtech.css */

a {
    text-decoration: none;

}
a.logo {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

ul {
    list-style: none;
    padding: 0;
}

:is(h1, p) {
    margin: 0;
}

.container {
    margin: 0;
}

.row {
    display: flex;
}

span {
    color: #53c426;
}

.showroom {
    font-weight: 500;
    color: white;
}
/* Navigation */
/* .temporal-disclaimer {
    width: 100%;
    height: 30px;
    display: flex;
    background-color: hsl(235, 40%, 31%);
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 10px 0px 10px 0px;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.fa-solid.fa-circle-exclamation::after {
    content: "_";
    color: hsl(235, 40%, 31%);
} */

header {
    justify-content: space-between;
    align-items: center;
    padding: 1.5em;
    
}

header ul {
    gap: 2em;
}

header a {
    position: relative;
    font-weight: 500;
    font-size: 24px;
    color: #fff;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}

header.container {
    opacity: 1;
}

header.container.row {
    padding: 70px;
    width: 100%;
    position: fixed;
    height: 100px;
}

header.container.row::after {
    background-color: red;
}


.navigation {
    align-items: flex-end;
}

.primary-list {
    margin: 0 auto;
    top: 0;
    width: 100%;
}


.primary-list a::before {
    position: absolute;
    top: -30px;
    content: "";
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    transform: scale(1, 0) rotate(360deg);
    -webkit-transform: scale(1, 0) rotate(360deg);
    -moz-transform: scale(1, 0) rotate(360deg);
    -ms-transform: scale(1, 0) rotate(360deg);
    -o-transform: scale(1, 0) rotate(360deg);
    transition: transform 0.3s ease-in-out;
    -webkit-transition: transform 0.3s ease-in-out;
    -moz-transition: transform 0.3s ease-in-out;
    -ms-transition: transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out;
}

nav a:hover::before {
    transform: scale(1, 1) rotate(0);
    -webkit-transform: scale(1, 1) rotate(0);
    -moz-transform: scale(1, 1) rotate(0);
    -ms-transform: scale(1, 1) rotate(0);
    -o-transform: scale(1, 1) rotate(0);
}

.secondary-list {
    margin-left: 0;
}

.secondary-list a {
    font-weight: 600;
    font-size: 18px;
}

.secondary-list li {
    background-color: #081ea9;
    padding: 0.3em 2em;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.secondary-list li:nth-of-type(2) {
    background-color: #ffc041;
    padding: 0.3em 1em;
}

.secondary-list li:nth-of-type(2) a {
    color: #000;
}

/* End Navigation */

/* Hero */
.hero {
    align-items: center;
    height: 93vh;
}

.hero>* {
    flex-basis: 100%;
}

section.container.hero.row {
    margin-bottom: 0px;
}

.content .ekohbutton {
    background-color: #e9b724;
    border-radius: 15px;
    color: black;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 40px 40px;
    cursor: pointer;
}

.content {
    min-width: 300px;
    max-width: 600px;
    margin-bottom: 65px;
    height: 650px;
    /* background-image: linear-gradient(-225deg, #3D4E81 0%, #5753C9 48%, #6E7FF3 100%); */
    width: 100px;
    border-radius: 10%;
    padding-top: 100px;
}

.content h1 {
    font-weight: 900;
    font-size: 70px;
    color: #fff;
    text-transform: uppercase;
    line-height: 1;
    font-family: 'Montserrat', sans-serif;
    /* background-color: rgb(102, 112, 229, 0.6);
    border-top-left-radius: 20%;
    border-top-right-radius: 20%; */
    padding-top: 0px;
    padding-left: 50px;
    padding-right: 50px;
}

.content p, .content a {
    /* font-weight: 500;
    font-size: 24px; */
    color: #fff;
    padding-top: 2em;
    /* background-color: rgb(102, 112, 229, 0.6);
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%; */
    padding-left: 50px;
    padding-right: 50px;
}

.content a {
    align-items: center;
    gap: 1em;
}

.content i {
    font-size: 2em;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}

.content a:hover i {
    color: #081ea9;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}

.img {
    /* position: relative; */
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0px;
}

/* End Hero */

.footer {
    position: absolute;
    scroll-behavior: unset;
    margin-left: 50px;
}

.sub-footer {
    padding-top: auto;
    padding-left: 2rem;
}

/* Reponsive stuff for resolutions smaller than 1920x1080 here */

/* 1600x900 */

@media screen and (max-width:1601px) {
    
    .content {
        min-width: 500px;
        max-width: 600px;
        margin-bottom: 65px;
        height: 650px;
        /* background-image: linear-gradient(-225deg, #3D4E81 0%, #5753C9 48%, #6E7FF3 100%); */
        width: 100px;
        border-radius: 10%;
        padding-top: 100px;
    }
    
    .content h1.ekoh {
        font-weight: 900;
        font-size: 70px;
        color: #fff;
        text-transform: uppercase;
        line-height: 1;
        font-family: 'Montserrat', sans-serif;
        /* background-color: rgb(102, 112, 229, 0.6);
        border-top-left-radius: 20%;
        border-top-right-radius: 20%; */
        padding-top: 3rem;
        padding-left: 50px;
        padding-right: 50px;
    }
    
    /* To hide video and show car, set display in img to contents and display in ekoh-video to none */

    .img {
        /* display: flex;
        justify-content: flex-end;
        margin-bottom: 0px; */
        display: none;
    }

    .ekoh-video {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 50%;
    }

    .ekoh-video iframe {
        width: 80%;
        height: 100%;
    }

}

/* Average laptop res, 1366x768 */

@media screen and (max-width:1367px) {
    
    .content {
        min-width: 500px;
        max-width: 600px;
        margin-bottom: 65px;
        height: 650px;
        /* background-image: linear-gradient(-225deg, #3D4E81 0%, #5753C9 48%, #6E7FF3 100%); */
        width: 100px;
        border-radius: 10%;
        padding-top: 100px;
        margin-right: 1rem;
    }
    
    .content h1.ekoh {
        font-weight: 900;
        font-size: 70px;
        color: #fff;
        text-transform: uppercase;
        line-height: 1;
        font-family: 'Montserrat', sans-serif;
        /* background-color: rgb(102, 112, 229, 0.6);
        border-top-left-radius: 20%;
        border-top-right-radius: 20%; */
        padding-top: 3rem;
        padding-left: 50px;
        padding-right: 50px;
    }
    
    /* To hide video and show car, set display in img to contents and display in ekoh-video to none */

    .img {
        /* display: flex;
        justify-content: flex-end;
        margin-bottom: 0px; */
        display: none;
    }

    .ekoh-video {
        padding-top: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 50%;
    }

    .ekoh-video iframe {
        width: 80%;
        height: 100%;
    }

}