@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&family=Poppins:wght@200;400;500&family=Roboto:wght@100;400&display=swap');

html {
    height: 100%;
    margin: auto;
    width: 960px;
}

body {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
}

header {
    width: 100%;
    display: grid;
}

header .temporal-disclaimer {
    width: 100%;
    height: 17px;
    display: flex;
    background-color: #faf089;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 10px 0px 5px 0px;
    font-family: 'Roboto', sans-serif;
    color: black;
}

header .temporal-disclaimer i {
    color: black;
}

header .sites-links a {
    color: #2667b0;
    font-weight: 700;
    border-bottom: 1px solid #2667b0;
}

nav {
    background-color: #dce2f2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100px;
}

nav .nav-logo-container img {
    width: 370px;
    margin-top: 10px;
}

nav .nav-logo-container {
    margin-left: 50px;
}

nav .sites-links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
}

main .front-title {
    font-size: 160px;
    padding-left: 100px;
    color: white;
    margin: 10px 797px 10px 10px;
}

main .main-container {
    background: url(../img/mainFrontera.png);
    width: 100%;
    padding: 10px 0px 0px 0px;
    background-repeat: no-repeat;
    background-size: cover;
}

main .main-container .upper-paragraph {
    color: white;
    float: left;
    font-size: 30px;
    text-align: justify;
    text-justify: inter-word;
    margin: 0px 1500px 50px 40px;
    padding-left: 80px;
}

main .main-container-button {
    height: 50px;
    background-color: #1f63ae;
    width: 170px;
    margin: 100px auto;
    display: grid;
    border-radius: 120px;
    left: 500px;
    float: left;
}

main .main-container-button a {
    font-size: 30px;
    color: white;
    margin: auto;
    font-weight: bolder;
}

main .main-container-img {
    margin: 10px 10px 10px 10px;
}

main .main-container-down {
    margin: 100px auto;
    display: flex;
    text-align: center;
    align-items: center;
    text-align: center;
    justify-content: center;
}

main .main-container-down .bottom-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
}

main .main-container-down .bottom-paragraph {
    position: absolute;
    top: 60%;
    left: 2700px;
    transform: translate(-60%, -60%);
    font-size: 40px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    display: inline;
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
    
}

.box3 {
    width: ;
    background-color: #b0c8e2;
    display: flex;
    text-align: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 10px;
    padding-right: 10px;
}

.box3 section h2{
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    color: #2166af;
}

.box3 i {
    font-size: 100px;
}

.box3 section p {
    font-size: 20px;
    font-weight: bolder;
    width: 300px;
}

.project-landing {
    display: flex;
    text-align: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: white;
}

section.project-landing-text h2 {
    color: #1f63ae;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 50px;
    text-align: left;
}
section.project-landing-text p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

section.project-landing-text img {
    width: 200px;
    text-align: left;
    float: left;
}

section.project-landing-img {
    float: right;
    font-family: 'Montserrat', sans-serif;
}

.box4 {
    display: flex;
    text-align: center;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.box5 {
    background-color: white;
    display: flex;
    text-align: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-bottom: 10px;
}

.box5 .email-box {
    background-color: #6598ef;
    padding: 30px 400px 70px 400px;
}

.box5 .email-placeholder {
    font-family: 'Poppins', sans-serif;
    width: 500px;
    padding: 25px 10px 15px 50px;
    font-weight: 500;
    color: black;
}

.box5 .email-box .email-button{
    height: 50px;
    background-color: #1f63ae;
    border: none;
    color: white;
    padding: 30px 32px;
    text-align:start;
    text-decoration: none;
    display:inline;
    font-size: 16px;
    margin: 7px 4px;
    cursor: pointer;
    font-size: 30px;
    border-radius: 120px;
    font-weight: bold;
    
}

footer {
    background-color: #b0c8e2;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    padding-top: 70px;
}

footer #footer-main-container{
    background-color: ;
    border: solid 1px #333;
    padding: 60px;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 10px;
    margin: 0 auto;
    max-width: 100%;
    
}

footer .footer-grid .footer-1 .frontera-logo-vertical {
    width: 300px;
    height: 300px;
}

section.footer-1 {
    font-size: 20px;
}

section i{
    color: white;
}

section hr {
    border-top: 1px solid white;;
}
section.footer-2 {
    font-size: 20px;
}
section.footer-3 {
    font-size: 20px;
}

section {
    color: black;
    padding: 20px;
}
