@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&family=Poppins:wght@200;400;500&family=Roboto:wght@100;400&display=swap');
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-image: url(../assets/img/backgroundweb-1920x2160.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    overflow: overlay;
}



a {
    text-decoration: none;

}
a.logo {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

ul {
    list-style: none;
    padding: 0;
}

:is(h1, p) {
    margin: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.row {
    display: flex;
}


/* Navigation */
/* .temporal-disclaimer {
    width: 100%;
    height: 30px;
    display: flex;
    background-color: hsl(235, 40%, 31%);
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 10px 0px 10px 0px;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.fa-solid.fa-circle-exclamation::after {
    content: "_";
    color: hsl(235, 40%, 31%);
} */

header {
    justify-content: space-between;
    align-items: center;
    padding: 1.5em;
    
}

header ul {
    gap: 2em;
}

header a {
    position: relative;
    font-weight: 500;
    font-size: 24px;
    color: #fff;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}

header.container {
    opacity: 1;
}

header.container.row {
    background-color: #2c2c67;
    width: 100%;
    position: fixed;
    height: 50px;
}

header.container.row::after {
    background-color: red;
}


.navigation {
    align-items: flex-end;
}

.primary-list {
    margin: 0 auto;
    top: 0;
    width: 100%;
}


.primary-list a::before {
    position: absolute;
    top: -30px;
    content: "";
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    transform: scale(1, 0) rotate(360deg);
    -webkit-transform: scale(1, 0) rotate(360deg);
    -moz-transform: scale(1, 0) rotate(360deg);
    -ms-transform: scale(1, 0) rotate(360deg);
    -o-transform: scale(1, 0) rotate(360deg);
    transition: transform 0.3s ease-in-out;
    -webkit-transition: transform 0.3s ease-in-out;
    -moz-transition: transform 0.3s ease-in-out;
    -ms-transition: transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out;
}

nav a:hover::before {
    transform: scale(1, 1) rotate(0);
    -webkit-transform: scale(1, 1) rotate(0);
    -moz-transform: scale(1, 1) rotate(0);
    -ms-transform: scale(1, 1) rotate(0);
    -o-transform: scale(1, 1) rotate(0);
}

.secondary-list {
    margin-left: 0;
}

.secondary-list a {
    font-weight: 600;
    font-size: 18px;
}

.secondary-list li {
    background-color: #081ea9;
    padding: 0.3em 2em;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.secondary-list li:nth-of-type(2) {
    background-color: #ffc041;
    padding: 0.3em 1em;
}


.secondary-list li:nth-of-type(2) a {
    color: #000;
}

/* End Navigation */

/* Hero */
.hero {
    align-items: center;
    height: 100vh;
}

.hero>* {
    flex-basis: 100%;
}

.content {
    max-width: 600px;
    margin-bottom: 65px;
    height: 650px;
    /* background-image: linear-gradient(-225deg, #3D4E81 0%, #5753C9 48%, #6E7FF3 100%); */
    width: 100px;
    border-radius: 10%;
    background-color: rgb(104, 109, 232, 0.7);
}

.content h1 {
    font-weight: 900;
    font-size: 70px;
    color: #fff;
    text-transform: uppercase;
    line-height: 1;
    font-family: 'Montserrat', sans-serif;
    /* background-color: rgb(102, 112, 229, 0.6);
    border-top-left-radius: 20%;
    border-top-right-radius: 20%; */
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.content p, .content a {
    font-weight: 500;
    font-size: 24px;
    color: #fff;
    padding-top: 2em;
    /* background-color: rgb(102, 112, 229, 0.6);
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%; */
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.content a {
    align-items: center;
    gap: 1em;
}

.content i {
    font-size: 2em;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}

.content a:hover i {
    color: #081ea9;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}

.img {
    /* position: relative; */
    display: flex;
    justify-content: flex-end;
    margin-bottom: 200px;
}


/* End Hero */

.box2 {
    background-color: #43429b;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 50vh;
}

.box2 h1 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    padding-top: 75px;
    margin-bottom: 30px;
}

.box2 p {
    color: white;
    font-size: 25px;
    margin-bottom: 130px;
    padding: 0px 300px 0 300px;
}

.objetivo {
    text-align: justify;
}

.objetivo i {
    text-align: center;
}

.objetivo h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 700;
    text-align: justify;
    margin-top: 19.92px;
    text-decoration: dotted;
    text-align: center;
    align-items: baseline;
}

.objetivo p {
    text-align: justify ;
}

.mision {
    padding-right: 150px;
    text-align: justify;
}

.mision i {
    text-align: center;
}

.mision h2 {
    text-align: center;
}

.vision {
    padding-right: 150px;
    text-align: justify;
}

.vision i {
    text-align: center;
}

.vision h2{
    text-align: center;
}
.box3 {
    width: ;
    display: flex;
    background-color: #2c2c67;
    text-align: center;
    align-items: baseline;
    justify-content: center;
    padding-bottom: 90px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    padding-top: 100px;
}

.objetivo p {
    text-decoration: dotted;
}

.box3 section h2{
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    color: white;
}

.box3 i {
    display: block;
    font-size: 100px;
    align-items: center;
}

.box3 section p {
    font-size: 20px;

    width: 300px;
}

.projects {
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-evenly;
    padding-top: 90px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 100px;
}

.projects h1 {
    color: #1e63ad;
    font-weight: 600;
}

.projects p {
    font-size: larger;
}

.projects-text {
    justify-content: flex-start;
}

.projects-image {
    justify-content: flex-end;
}

.projects-image img {
    width: 400px;
    height: 400px;
}

footer {
    background-color: #f2f2f2;
    color: #2f356f;
    height: 40vh;
}

footer h4, h5 {
    color: #2f356f;
}

footer #box4 {
    border: solid 1px #333;
    padding: 60px;
}

footer i {
    text-decoration: none;
    color: #2f356f;
}

.footer-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: space-between;
}

.footer-1 {
    flex: 33%;
    margin-top: 1px;
    margin-left: 10px;
}
.footer-1 .logo-img{
    height: 160px;
    width: 170px;
    border-radius: 15%;
}

.footer-1 hr {
    padding-right: 100px;
}

.footer-1  p {
    padding-right: 100px;
}

.footer-2 {
    flex: 33%;
}

.footer-2 li a {
    text-decoration: none;
    color: #2f356f;
}

.footer-3 {
    flex: 33%;
}

.footer-3 li a{
    color: #2f356f;
}

.sub-footer {
    color: #2f356f;
    background-color: #f2f2f2;
    /* border-top: 1px solid white; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-grow: 2;
    flex-wrap: wrap;
    /* margin-bottom: 20px; */
}

.left {
    flex: 50%;
}


/* Media */
@media screen and (max-width:1000px) {
    .toggleMenu {
        position: relative;
        right: 50px;
        background-image: url(../assets/img/open.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 30px;
        width: 30px;
        height: 30px;
        padding: 100px 350px 100px 100px;
        z-index: 1000;
        filter: invert(10%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
    }

    .toggleMenu.active {
        position: absolute;
        background-image: url(../assets/img/close.svg);
        background-size: 25px;
        fill: white;
        height: 1000px;
        width: 30px;
        padding: 0px 0px 0px 0px;
    }

    .content {
        max-width: 600px;
        margin-bottom:10px;
        padding-top: 0;
        height: 59vh;
        background: none;
    }


    .content {
        display: ;
    }

    .content h1 {
        padding: 100px 100px 0px 30px;
        font-size: 50px;
    }
    .navigation {
        justify-content: center;
        flex-direction: column;
        transform: scale(1, 0);
        -webkit-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform-origin: top;
        max-height: 0;
        opacity: 0;
    }

    .img video {
        display: none;
    }

    .navigation.active {
        position: inherit;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 50px 0px 0px 0px;
        transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        max-height: 100%;
        opacity: 1;
        background-image: linear-gradient(-225deg, #3D4E81 0%, #5753C9 48%, #6E7FF3 100%);
    }

    .navigation ul {
        flex-direction: column;
        text-align: center;
    }

    .secondary-list {
        margin-top: 2em;
    }

    .hero {
        flex-wrap: wrap;
        padding-top: 1em;
    }

    section.container.hero.row {
        margin: 0;
    }


    .box2 {
        height: 100vh;
        padding: 15px;
    } 

    .box2 h1 {
        font-size: 45px;
    }

    .box2 p {
        font-size: 19px;
        text-align: center;
        padding: 50px;
    }

    .box3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 24px;
    align-items: center;
}

    .box3 p{
        padding: 50px;
        text-align: center;
    }

    section.mision {
    padding-right: 0;
    padding-top: 0;
}

    section.vision {
        padding-right: 0;
        padding-top: 0;
    }

    section.objetivo p {
        padding-top: 0;
    }

    .projects-image img {
        width: 200px;
        height: 200px;
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center ;
        height: 65vh;
        text-align: center;
        background-color: #f2f2f2;
    }

    .footer-1 > li a { 
        text-align: center;
    }

    .footer-1 hr {
        display: none;

    }

    .footer-1 p {
        padding-right: 0;
    }

    .footer-2 li a { 
        text-align: center;
    }
    
    .footer-3 {
        background-color: #f2f2f2;
    }

    .footer-3 li a { 
        text-align: center;
        background-color: #f2f2f2;
    }

    .footer-1, .footer-2, .footer-3 {
        flex: 100%;
    }

    .sub-footer {
        display: flex;
        flex-direction: column;
        font-size: small;
        ,margin-top: 100px;
        text-align: center;
    }

}
/* End Media */