/* CSS style sheet used with Epic Games HTML5 projects
 *
 * much of this is for UE4 development purposes.
 *
 * to create a custom CSS file for your project:
 * - make a copy of this file - or make one from scratch
 * - and put it in: "your project folder"/Build/HTML/GameX.css.template
 */

/*

html, body, .container {
	height: 100%;
	font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
}

.h4, h4 {
	margin-top: 1pt;
	margin-bottom: 1pt;
	font-size: 10pt;
}

.container {
	display: table;
	vertical-align: middle;
	border: 0px;
	border-spacing: 0px;
}

*/

/* Handmade CSS code starts */
/* Handmade CSS code starts */
/* Handmade CSS code starts */
/* Handmade CSS code starts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&family=Poppins:wght@200;400;500&family=Roboto:wght@100;400&display=swap');
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-image: url(../../assets/img/ekohtech_background.png);
    background-size: cover;

}

/* Navbar code starts */

a {
    text-decoration: none;

}
a.logo {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

ul {
    list-style: none;
    padding: 0;
}

:is(h1, p) {
    margin: 0;
}

.container {
    margin: 0;
}

.row {
    display: flex;
}

span {
    color: #53c426;
}

.showroom {
    font-weight: 500;
    color: white;
}
/* Navigation */
/* .temporal-disclaimer {
    width: 100%;
    height: 30px;
    display: flex;
    background-color: hsl(235, 40%, 31%);
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 10px 0px 10px 0px;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.fa-solid.fa-circle-exclamation::after {
    content: "_";
    color: hsl(235, 40%, 31%);
} */

header {
    justify-content: space-between;
    align-items: center;
    padding: 1.5em;
}

header ul {
    gap: 2em;
}

header a {
    position: relative;
    font-weight: 500;
    font-size: 24px;
    color: #fff;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}

header.container {
    opacity: 1;
}

header.container.row {
    padding: 70px;
    width: 100%;
    position: relative;
    height: 100px;
}

header.container.row::after {
    background-color: red;
}

.navigation {
    align-items: flex-end;
}

.primary-list {
    margin: 0 auto;
    top: 0;
    width: 100%;
}

.primary-list a::before {
    position: absolute;
    top: -30px;
    content: "";
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    transform: scale(1, 0) rotate(360deg);
    -webkit-transform: scale(1, 0) rotate(360deg);
    -moz-transform: scale(1, 0) rotate(360deg);
    -ms-transform: scale(1, 0) rotate(360deg);
    -o-transform: scale(1, 0) rotate(360deg);
    transition: transform 0.3s ease-in-out;
    -webkit-transition: transform 0.3s ease-in-out;
    -moz-transition: transform 0.3s ease-in-out;
    -ms-transition: transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out;
}

nav a:hover::before {
    transform: scale(1, 1) rotate(0);
    -webkit-transform: scale(1, 1) rotate(0);
    -moz-transform: scale(1, 1) rotate(0);
    -ms-transform: scale(1, 1) rotate(0);
    -o-transform: scale(1, 1) rotate(0);
}

.secondary-list {
    margin-left: 0;
}

.secondary-list a {
    font-weight: 600;
    font-size: 18px;
}

.secondary-list li {
    background-color: #081ea9;
    padding: 0.3em 2em;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.secondary-list li:nth-of-type(2) {
    background-color: #ffc041;
    padding: 0.3em 1em;
}

.secondary-list li:nth-of-type(2) a {
    color: #000;
}

/* Navbar code ends */

.ekohbutton {
    background-color: #e9b724;
    border-radius: 15px;
    border:rgba(255, 255, 255, 0);
    color: black;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

/* Footer starts */

.footer {
    position: absolute;
    scroll-behavior: unset;
    margin-left: 50px;
}

.sub-footer {
	padding-top: 18rem; /* normally 12.5 */
    padding-left: 2rem;
}

/* This colors the Downloading... window */

.alert {
    background-color: #134200;
    border: #000;
}

/* This disables the IndexedDB warning, and therefore every other warning */

.alert-warning {
    display: none;
}

/* Footer ends */

/* Unreal Code Starts */
/* Unreal Code Starts */
/* Unreal Code Starts */
/* Unreal Code Starts */

.glyphicon-spin {
	animation: spin 2000ms infinite linear;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(359deg);
	}
}

@-webkit-keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(359deg);
	}
}

.wrapper {
	margin: 2rem auto 4rem auto;
	text-align: center;
	min-width: 640px;
	width: 100%;
	height: 480px; /* initial height, will be dynamically adjusted at runtime */
	max-width: 95%;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
}

 .emscripten {
	padding-right: 0;
	margin-left: auto;
	margin-right: auto;
	display: block;
	display: -webkit-box;
	display: -moz-box;
	display: box;

	-webkit-box-align: center;
	-moz-box-align: center;
	box-align: center;

	-webkit-box-pack: center;
	-moz-box-pack: center;
	box-pack: center;
}

#canvas:not([fullscreen]) {
	padding-right: 0;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.texthalf {
	height: 37%;
	border: 0px;
	padding: 0px;
	overflow-y: scroll;
	font-size: 2em;
}

.buttonarea {
	background-color: rgba(245, 245, 245, 0);
	align-items: center;
	border-top: 0px;
	border-bottom: 0px;
	padding: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
 }

/* This centers the full screen button */

.col-sm-2 {
    margin: auto;
}

 .btn { 
	padding: 0px; 
	text-align: center; 
	min-width: 150px;
}

.progress { background: rgba(245, 245, 245, 1); 
	border: 0px solid rgba(245, 245, 245, 1); border-radius: 0px; height: 4px; 
}

.progress-bar-custom { 
	background: rgba(153, 153, 153, 1); 
}

.centered-axis-xy {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}